@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --navbar-height-mob: 15rem;
    --navbar-height: 20rem;

    --except-nav-mob: calc(100vh - var(--navbar-height-mob));
    --except-nav: calc(100vh - var(--navbar-height));
}

@layer utilities {
    .p-for-nav {
        padding-top: var(--navbar-height-mob);
    }

    @media (min-width: 640px) {
        .p-for-nav {
            padding-top: var(--navbar-height);
        }
    }

    .h-except-nav {
        height: var(--except-nav-mob);
    }

    @media (min-width: 640px) {
        .h-except-nav {
            height: var(--except-nav);
        }
    }

    .h-navbar {
        height: var(--navbar-height-mob);
    }

    @media (min-width: 640px) {
        .h-navbar {
            height: var(--navbar-height);
        }
    }
}
@layer base {
    .container {
        @apply mx-auto px-6;
    }
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;

    @apply antialiased;
}
@media screen(sm) {
    html {
        font-size: 56.25%;
    }
}

@media screen(md) {
    html {
        font-size: 50%;
    }
}

@media screen(lg) {
    html {
        font-size: 62.5%;
    }
}

body {
    @apply bg-neutral-50;
    font-size: 1.6rem;
    line-height: 1.5;
}

body,
.top-nav {
    @apply bg-neutral-50;
}

.hero-clip {
    content: "";
    clip-path: polygon(84% 0, 100% 50%, 84% 100%, 0 100%, 0 52%, 0 0);
}

.hero-clip-dark {
    content: "";
    clip-path: polygon(84% 0, 100% 50%, 84% 100%, 0 100%, 0 52%, 0 0);

}

.web-input {
    @apply bg-neutral-100 rounded p-6 outline-none transition-all duration-300
}

.web-input:hover {
    @apply bg-neutral-200
}

.web-input:focus {
    @apply ring-offset-2 ring-offset-neutral-100 outline-none ring-primary-400 ring-2
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(2rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes faseOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes linearMotion {
    0% {
        left: 0;
    }

    100% {
        left: 100%;
    }
}

@keyframes widthFull {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}
